.forgot_password_cont{
    width: 500px;
    height: 400px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ddd;
    margin-top: 70px;
    margin-bottom: 70px;
    
}

forgot_password_icon{
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: url("./../../assets/forgot_password/password_icon.png");
    background-size: cover;
    background-repeat: none;
    background-position: center;

}

.forgot_password_cont h1{
    font-family: intermedium;
    font-size: 29px;
    text-align: center;
    color: black;
    margin-top: 20px;
}

.forgot_password_cont p{
    text-align: center;
    color: black;
    font-family: inter;
    margin-top: 10px;
}

.forgot_password_cont .email_cont{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 40px;
    border: 1px solid #ddd;
    margin-top: 20px;
    background-color: #ddd;
}

.email_cont email_icon{
    width: 30px;
    height: 25px;
    background: url("./../../assets/forgot_password/email.png");
    margin: 0;
    margin-top: 7.5px;
    margin-left: 10px;
    margin-right: 10px;

    display: block;
    background-size: cover;
    background-repeat: none;
    background-position: center;
    
}
.forgot_password_cont input{
    width: 100%;
    text-align: center;
    height: 38px;
    border: none;
    display: block;
}

.forgot_password_cont input::after{
   border: 1px solid goldenrod;
}

.forgot_password_cont .submit_button{
    width: 230px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    background-color: goldenrod;
    color: white;
    text-align: center;
    line-height: 20px;
    font-family: inter;
    border: none;
}

@media screen and (max-width:550px) {
    .forgot_password_cont{
        width: 400px;
    } 
}

@media screen and (max-width: 450px) {
    .forgot_password_cont{
        width: 100%;
        border: none;
    } 

    forgot_password_icon{
        width: 70px;
        height: 70px;
        margin-top: 20px;
    }

    .forgot_password_cont h1{
       
        font-size: 22px;

    }
    
    .forgot_password_cont p{
       
        font-size: 15px;
    }

    .forgot_password_cont input{
        height: 34.5px;
    }
}


