<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap');

		body {
			background-color: #fff;
		}

		main {
			width: 90%;
			margin: 0 auto;
			padding-top: 3.5rem;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		h1 {
			color: #2E2E2E;
			font-size: 1.25rem;
			font-weight: 700;
			font-family: 'Inter', sans-serif;
		}

		img {
			width: 100%;
			margin-top: 1.5rem;
			margin-bottom: 2.5rem;
		}

		a {
			padding: 0.5rem 1rem;
			background-color: #DAA520;
			color: #fff;
			display: block;
			width: fit-content;
			font-family: 'Inter', sans-serif;
			border-radius: 4px;
			text-decoration: none;
			margin: 0 auto;
			text-align: center;
		}

		@media (min-width: 640px) {
			img {
				width: 70%;
			}
		}

		@media (min-width: 768px) {
			img {
				width: 55%;
			}

			a {
				padding: 0.8rem 2rem;
			}
		}

		@media (min-width: 1024px) {
			main {
				width: 85%;
				padding-top: 4rem;
			}

			h1 {
				font-size: 1.5rem;
			}
		}

		@media (prefers-color-scheme: dark) {
			body {
				background-color: #1e1e1e;
			}

			h1 {
				color: #fff;
			}
		}
	</style>
</head>

<body class="bg-white dark:bg-black1">
	<main class="w-[90%] lg:w-[85%] mx-auto pt-14 flex flex-col items-center lg:pt-16">
		<h1 class="text-textblack dark:text-white text-xl font-bold font-inter lg:text-2xl">Password Reset Request.
		</h1>
		<img src="https://res.cloudinary.com/dighewixb/image/upload/v1698400681/Photo/kjycgm7iwfhsodzdszi8.png" alt="" class="w-[100%] mt-6 mb-10 sm:w-[70%] md:w-[55%]">
		<a href="<%= url %>" class="py-2 px-4 bg-primary text-white block w-fit font-inter rounded">Reset Password</a>

	</main>
</body>

</html>