@import "../../../components/nav/nav.css";
.section-formpost {
  height: fit-content;
  background-image: linear-gradient(
    158.57deg,
    #ffffff 14.09%,
    #faf3e0 24.75%,
    #f9f1dc 43.12%,
    #f9f0db 74.72%
  );
  font-family: sans-serif;
  position: relative;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  padding-bottom: 1rem;
  font-family: intermedium;
}

.formpost-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.formpost-heading {
  text-align: center;
  position: relative;
  top: 2rem;
}

.formpost-heading > h4 {
  font-size: 2rem;
  display: block;
  margin-top: 0.5rem;
  position: relative;
  top: 1rem;
  margin-bottom: 1.3rem;
  font-family: intersemibold;
}

.formpost-heading > p {
  font-size: 0.9rem;
  width: 70%;
  display: inline-block;
  text-align: center;
  margin-bottom: 1.3rem;
  font-family: intermedium;
}

label {
  font-size: 0.7rem;
}

.form {
  background-color: #f0f0f0;
  position: relative;
  padding: 2rem 2rem 1rem 2rem;
  width: 45%;
  margin: 2rem;
  /* margin-bottom: 4rem; */
  box-shadow: 0px 1px 5px rgb(196, 196, 196);
  border-radius: 20px;
  text-align: left;
  max-height: 60%;
}

.form-section-one {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 4rem;
}

.form-section-one-a {
  display: flex;
  flex-direction: column;
}
.form-section-one-a > label {
  display: inline-block;
  margin-bottom: 0.3rem;
}

.form-section-one-a > select {
  display: inline-block;
  border: none;
  outline: none;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 0.7rem;
  width: fit-content;
  border-radius: 10px;
  background-color: #fff;
}

.form-section-two {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.form-section-two > input {
  outline: none;
  border: none;
  border-radius: 9px;
  height: 4rem;
  margin-top: 0rem;
  padding: 0.4rem;
  font-size: 0.7rem;
  font-weight: bold;
  background-color: #fff;
}

.form-section-two > .project-name {
  width: 60%;
  height: 2rem;
}

.upload-files {
  border: 2px dashed #000;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 80%;
  margin: 0 10%;
  margin-bottom: 0rem;
  padding: 0.5rem;
  align-items: center;
}

.upload-files > p {
  font-size: 0.6rem;
}
.btn-upload {
  height: fit-content;
  background-color: #d9d9d9;
  border-radius: 4px;
  padding: 0.5rem;
  width: 40%;
  border: none;
  outline: none;
  font-family: interbold;
  font-size: 0.7rem;
}

.btn-upload > span {
  font-weight: bold;
  font-size: 0.8rem;
  position: relative;
  top: -0.1rem;
}

.skills-required {
  position: relative;
  width: fit-content;
  margin-bottom: 1rem;
}

.skills-required > h6 {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  margin-top: 0.7rem;
}

.skills-required > p {
  font-size: 0.7rem;
}

.skills-required-container {
  background-color: white;
  padding: 0.7rem;
  border-radius: 10px;
  display: flex;
  max-width: 100%;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

[name="close"] {
  font-size: 0.8rem;
  /* top: 0.2rem; */
  display: inline-block;
  position: relative;
  margin-left: 0.3rem;
  font-weight: bold;
}

.skills-required-container > button {
  padding: 0.4rem;
  border-radius: 5px;
  border: none;
  outline: none;
  display: inline-block;
  margin-left: 0.5rem;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: intermedium;
  /* width: fit-content; */
  /* height: fit-content; */
  /* margin-right: 1rem; */
  box-shadow: 1px 1px 8px rgb(199, 199, 199);
}

.skills-required-container > input {
  border: none;
  outline: none;
  margin-left: 0.6rem;
  font-size: 0.7rem;
  background-color: #fff;
}

.pay-worker {
  margin: 0;
}

.pay-worker > h5 {
  margin: 0;
  text-align: center;
}

.pay {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  max-width: 100%;
  margin-right: 0;
  gap: 2rem;
  position: relative;
}

.pay-basis {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  background-color: #d9d9d9;
  width: 50%;
  border-radius: 10px;
  padding: 1rem;
  height: fit-content;
}

.pay-basis > img {
  /* width: 40%; */
  height: 4rem;
  display: inline-block;
  /* margin-right: auto; */
}

.pay-container {
  width: 70%;
}

.pay-container > h6 {
  font-weight: bold;
  font-size: 0.7rem;
  margin: 0;
}

.pay-container > p {
  font-size: 0.6rem;
}

.btn-nextpage {
  background-color: goldenrod;
  display: block;
  height: 30px;
  width: 100px;
  font-family: interbolder;
  font-size: 13px;
  position: absolute;
  border-radius: 7px;
  outline: none;
  border: none;
  bottom: -5rem;
  margin: 3rem auto;
  color: #fff;
  cursor: pointer;
  text-align: center;
  line-height: 30px;
}

.postajob-footer-job-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 4rem 0 0 0;
  align-items: center;
  position: relative;
  top: 0.5rem;
}

.postajob-footer-one {
  width: 30%;
}

.postajob-footer-one > p {
  font-size: 0.8rem;
}

.postajob-footer-two {
  width: 70%;
  display: inline-block;
  margin: 0;
}
.postajob-footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 100%;
}

.postajob-footer-nav > a {
  text-decoration: none;
  color: #000;
  width: 100%;
  font-size: 0.8rem;
}

.postajob-footer-nav > a > li {
  list-style: none;
  width: 100%;
  /* margin-right: 1.5rem; */
  display: inline-block;
}

@media screen and (max-width: 1200px) {
  .form {
    width: 50%;
  }
}

@media screen and (max-width: 1100px) {
  .postajob-footer-container {
    margin: 3rem 0 0 0;
  }
}

@media screen and (max-width: 970px) {
  .form {
    width: 60%;
  }
}

@media screen and (max-width: 850px) {
  .form {
    width: 65%;
  }
}

@media screen and (max-width: 835px) {
  /* .pay-basis {
    padding: 1.2rem;
  } */

  .pay-basis > img {
    /* width: 20%; */
    height: 3.5rem;
    display: inline-block;
    margin-right: auto;
  }
}

@media screen and (max-width: 800px) {
  .formpost-heading > p {
    width: 90%;
  }

  .pay-container > h6 {
    font-size: 0.7rem;
  }

  .pay-container > p {
    font-size: 0.6rem;
  }

  .btn-upload {
    /* padding: 0.5rem; */
    width: 50%;
    border-radius: 7px;
    font-size: 0.8rem;
  }
  .form {
    width: 70%;
  }
}

@media screen and (max-width: 755px) {
  .skills-required-container > button {
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 0.8rem;
  }

  [name="close"] {
    font-size: 0.8rem;
    top: 0.1rem;
  }

  .form {
    width: 75%;
  }
}

@media screen and (max-width: 720px) {
  .skills-required-container > button {
    padding: 0.4rem;
    border-radius: 5px;
    font-size: 0.6rem;
  }

  [name="close"] {
    font-size: 0.6rem;
    top: 0.1rem;
  }

  .formpost-heading > h4 {
    font-size: 1.5rem;
  }

  .formpost-heading > p {
    font-size: 0.8rem;
  }

  .form-section-one {
    flex-direction: column;
    gap: 0.5rem;
  }
}

@media screen and (max-width: 680px) {
  .section-formpost {
    padding-bottom: 4rem;
  }

  .pay {
    flex-direction: column;
    max-width: 100%;
  }

  .pay-basis {
    padding: 1rem;
    width: 70%;
  }

  .pay-container {
    margin-left: 1rem;
  }

  .post-a-job-footer {
    display: none;
  }
}

@media screen and (max-width: 670px) {
  .btn-upload {
    font-size: 0.7rem;
    padding: 0.7rem;
  }
}

@media screen and (max-width: 636px) {
  .skills-required-container > input {
    display: none;
  }
  .upload-files > p {
    font-size: 0.7rem;
  }

  .btn-upload {
    padding: 0.5rem;
  }
}

@media screen and (max-width: 598px) {
  .btn-upload {
    width: 60%;
  }
}

@media screen and (max-width: 550px) {
  .form {
    /* padding: 1rem; */
    margin: 1rem;
    border-radius: 10px;
  }
  .pay-basis {
    width: 80%;
  }
}

@media screen and (max-width: 440px) {
  .pay-basis {
    width: 90%;
  }
}
